fastapi
uvicorn[standard]
httpx
pydantic
sqlalchemy
prometheus_client
json-log-formatter
psycopg2-binary
mkdocs-callouts
mkdocs-click
mkdocs
pymdown-extensions
mkdocs-redirects
mkdocs-autorefs
mkdocs-literate-nav
mkdocstrings[python]
